[2019-10-08 17:45] b1shan opened #339 "Support request for user defined iptables or iptables off/false, as in Docker Engine"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind feature

**Description**

Unlike Docker Engine, Podman does not provide support for turning iptables off or false, such as in dockerd cli or config. Moreover, Podman does not provide a user chain, such as DOCKER-USER, where users can put their own rules with the guarantee that they won't be oven run by Docker Engi

[2020-03-05 15:09] shawnweeks opened #340 "Podman and Docker IPv6 Compatibility Differs"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

**Steps to reproduce the issue:**

1. Install CentOS 8 with IPv6 Enabled

2. Install latest PodMan

3. Attempt to start Keycloak instance
[code]

**Describe the results you received:**
[code]

**Describe the results you expected:**

**Additional information you deem important (e.g. issue happ

[2020-04-29 21:16] jberkus opened #341 "Feature Request: add subinterface creation"
/kind feature

**Description**

`docker network create` allows automated creation of trunk bridge mode vitual IPs that map to each created container if you call a new subinterface name, such as "eth0.2".  This is useful for running services under podman that might normally get their own virtual IP, such as serving DNS.

It would be nice to have this option in podman as well, particularly for folks

[2021-10-04 22:17] TomSweeneyRedHat opened #9 "Create a SECURITY.md"
Please create a SECURITY.md file.  Either roll your own or copy/paste the one from Buildah and just change the project name within the file from Buildah to netavark.

https://github.com/containers/buildah/blob/main/SECURITY.md

[2021-10-05 14:08] rhatdan commented on #9
@TomSweeneyRedHat Please open a PR to add it.

[2021-10-05 14:18] #9 closed

[2021-10-05 14:29] lsm5 opened #11 "Enable logging"
Use https://crates.io/crates/log to enable logging.

@flouthoc Assigning this to myself. Please add more details if any for noob-friendliness :)

[2021-10-05 16:04] lsm5 opened #15 "automated cargo updates?"
Would be nice to have a dependabot-like setup to automatically run `cargo update` and submit PRs.

[2021-10-06 11:21] flouthoc commented on #15
@lsm5 I think dependabot does that https://dependabot.com/rust/

[2021-10-06 11:21] flouthoc commented on #15
Enabling dependabot from github settings should be suffice.

[2021-10-07 04:34] #15 closed

[2021-10-14 19:42] lsm5 opened #33 "hook rustfmt into CI"
Run rustfmt on every PR in CI to check for formatting issues.

[2021-10-20 17:24] #33 closed, assigned to lsm5

[2021-11-03 20:51] Luap99 opened #62 "veth creation must be hapen inside the container namespace"
To prevent name collision on the host the veth pair should be created in the namespace.
The parent with the random name should then be moved to the host namespace.

[2021-11-04 08:52] flouthoc commented on #62
@Luap99 above PR should close this issue. Feel free to try it out.

[2021-11-04 13:33] #62 closed

[2021-11-30 19:25] baude opened #105 "Internal network support"
netavark needs to support a network where traffic remains internal and cannot escape.

[2021-11-30 19:26] baude opened #106 "Support static macs"
netavark needs to support a provided static mac address.

[2021-11-30 19:27] baude opened #107 "Set MTU"
netavark needs to support the ability to set the MTU

[2021-11-30 19:27] baude opened #108 "vlan for bridge"
i cannot remember this one

[2021-12-01 02:09] flouthoc commented on #107
Picking this one up.

[2021-12-01 12:24] flouthoc commented on #107
above PR should close this.

[2021-12-01 13:50] #107 closed

[2021-12-02 12:12] flouthoc commented on #106
Thanks picking this up.

[2021-12-03 01:24] lsm5 opened #115 "Investigate ways to vendor build dependencies"
Vendoring build dependencies will make downstream packaging a lot easier. cargo-vendor seems like the way to go, but it hasn't been updated in 3 years now, and crates.io doesn't mention anything about its deprecation.

Are there any other solutions?

[2021-12-03 06:21] flouthoc commented on #115
@lsm5 So i checked I think you are referring to the old repository https://github.com/alexcrichton/cargo-vendor however `cargo vendor` is merged with `cargo` and being maintained actively https://github.com/rust-lang/cargo.

Same this is not the active repository for `cargo-vendor` https://crates.io/crates/cargo-vendor its already part of a latest `cargo` so its being shipped with native stack we

[2021-12-03 12:12] flouthoc commented on #106
Above PR should close this.

[2021-12-06 11:39] flouthoc commented on #108
Thanks picking this up.

[2021-12-06 15:19] #106 closed

[2021-12-08 10:49] flouthoc commented on #108
@Luap99 @baude I have a question do we also need to create `vlan` interface or just want to tag the `bridge` with something equivalent to `bridge vlan add dev DEV vid VID [ pvid ] [ untagged ] [ self ] [ master ]`

[2021-12-08 11:01] Luap99 commented on #108
@flouthoc I have not looked at the cni code but we should match what they are doing IMO

[2021-12-08 11:56] flouthoc commented on #108
They are also creating `vlan` interface but our config does not have a option to specify should i add it.

[2021-12-08 12:25] Luap99 commented on #108
Why do you need a new field? The vlan number + interface name should name should be enough. https://www.cni.dev/plugins/current/main/bridge/

[2021-12-08 13:23] Luap99 opened #121 "ipv6 iptables cleanup not working"
apply this diff
[code]
now run the tests with `sudo bats test/100-bridge-iptables.bats`

the following error happens on ipv6 teardown
[code]

[2021-12-08 13:24] Luap99 commented on #121
@baude PTAL

[2021-12-09 01:23] lsm5 commented on #115
@flouthoc great, can we start vendoring upstream soon as it's feasible? As a packager, I think it's best to have this in place at the earliest. RHEL will 100% depend on this and I'm gonna push for this in Fedora as well. Because it's just plain torture to package this in Fedora with the existing `rust-foobar-devel` dependencies, assuming it's even possible at all.

[2021-12-09 06:49] flouthoc commented on #115
@lsm5 Created a PR please take a look

[2021-12-09 18:49] baude commented on #121
fixed in main

[2021-12-09 18:49] #121 closed

[2021-12-13 07:41] flouthoc commented on #108
Upstream is missing support for setting `bridge flags` and `bridge vlan info`. I am plumbing upstream to support this.

[2021-12-13 12:16] flouthoc commented on #108
There are few PR's waiting here to be merge. I don't know what else is missing but I'll figure it out https://github.com/little-dude/netlink/pulls

[2022-01-04 15:49] #105 closed

[2022-01-07 19:01] baude opened #151 "Error: unsupported macvlan network option mtu"
When running the e2e tests with netavark, we get a failure with `Error: unsupported macvlan network option mtu`.  See https://github.com/containers/podman/blob/main/test/e2e/network_test.go#L574

[2022-01-07 19:12] baude opened #152 "macvlan needs to be able to do dhcp"
The e2e tests assume dhcp is available with macvlan.

Error: macvlan driver needs at least one subnet specified, DHCP is not supported with netavark

Example -> https://github.com/containers/podman/blob/main/test/e2e/network_test.go#L529

[2022-01-08 10:58] Luap99 commented on #152
DHCP support is complicated because it requires a daemon. I would say we should skip this for now.

[2022-01-10 15:03] baude commented on #152
lets keep our eye on this ... else it is a regression from cni

[2022-01-10 15:09] Luap99 commented on #152
Well it is not easy to implement and we have a lot of other things to do. The regression argument doesn't count IMO since we still support CNI for those who need it.

[2022-01-10 15:15] Luap99 commented on #151
https://github.com/containers/common/blob/97814789b1bb4fac1a2ddaebcaf9873c457f4625/libnetwork/netavark/config.go#L127-L137

[2022-01-10 15:16] Luap99 commented on #151
I will open a PR to fix it in c/common if you add support to netavark.

[2022-01-10 15:33] flouthoc commented on #151
@Luap99 Sure I'll add it to netavark. We have to stop blocking it from `c/common/` thanks.

[2022-01-10 15:34] Luap99 commented on #151
https://github.com/containers/common/pull/881

[2022-01-10 18:54] baude opened #154 "Look into blocking/permitting network to network communication"
See https://github.com/containers/podman/issues/5805

[2022-01-11 11:19] Dentrax opened #156 "Consider add some docs and images about the overall architecture"
It would be great to see how does this project work and how overall architecture is designed! Maybe adding some arch.md or some diagrams in the [./docs](https://github.com/containers/netavark/tree/main/docs) folder would be nice to have.

[2022-01-11 12:12] rhatdan commented on #156
Do you care to kick this off with a PR?

[2022-01-11 14:49] Luap99 commented on #154
Is this the correct linked issue? Your title sounds like https://github.com/containers/podman/issues/5805

[2022-01-11 15:29] baude commented on #154
yup, i had a hiccup during that one

[2022-01-11 15:43] Dentrax commented on #156
Not making any promises but I can get to it if you show me what should I do. 🙏

[2022-01-11 15:57] flouthoc commented on #156
@Dentrax If you are interested in trying out `netavark` with `podman` I can help you with that. That should give you enough context how to play around with netavark.

But overall even though you don't wanna try it out yourself then also you could help us with documenting some top level stuff.

* Netavark is a cli tool which sets ups networking for containers especially podman but it can do it for

[2022-01-13 09:57] #151 closed

[2022-01-17 16:16] flouthoc commented on #152
I accidentally attached this issue to wrong PR that's why it got closed. Thanks for re-opening.

[2022-01-18 15:31] afro-coder commented on #156
I would also like to pitch in the docs, is there any initial progress @Dentrax I can help in some parts if you've already started

[2022-01-18 17:03] Dentrax commented on #156
Hey @afro-coder, I couldn't find a free time to get this into yet, but if you want to start, go ahead! I don't want to block you. 💐

[2022-01-19 06:05] afro-coder commented on #156
Sure @Dentrax, I'll get started on this and try to do some basic docs.

[2022-01-26 14:59] lsm5 opened #186 "check buildability for all fedora arches in CI"
We recently had netavark build fail on non-intel arches because of an issue in the faccess crate (recently gotten rid of).

Going forward, every PR should be checked for buildability for all the arches supported by Fedora. I imagine something like altbuild (or crossbuild) tasks for podman could be replicated here.

/cc @cevich

[2022-01-26 15:00] lsm5 commented on #115
Vendoring is available upstream now. Thanks all.

[2022-01-26 15:00] #115 closed

[2022-02-01 14:47] lsm5 opened #204 "Remove duplicate crate dependencies (e.g. multiple versions of nix)"
v1.0.0-rc1 depends on three versions of the nix crate. I see that they are pulled in because of iptables, rtnetlink and zbus each require a different version of the crate. But is there any cargo magic to only pull in 1 (latest | compatible) version ?

[2022-02-01 16:30] Luap99 commented on #204
My google search doesn't seem to find a solution for that other than patching the dependencies :/

[2022-02-04 14:50] giuseppe opened #210 "connections reset while creating many containers"
If I create containers in a loop like

[code]

the connections in the browser are resetted, tcpdump below:

[code]

I am using the latest git commit (34f1c0ae20a51339bbaaa94564bd65535defa229)

[2022-02-04 14:54] Luap99 commented on #210
Just to add some more information this happens on setup and teardown. I debugged the setup part and it happens when we set the container interface in the netns up.

[2022-02-14 21:55] baude commented on #210
do we have any better idea of whats going on ?

[2022-02-15 15:35] flouthoc commented on #210
I tried debugging this, the issue pops up as soon as we turn `hostend` of veth pair up. It does not matter if we do it inside the container namespace or outside both resets the connection.

Initially i thought its the issue in rust netlink bindings but after debugging i was unable to reproduce on a isolated rust netlink setup although my rust setup was different than netavark since it was missing

[2022-02-15 15:40] baude commented on #210
would it warrant filing an upstream bug to see if you can extract any info/advice?

[2022-02-15 15:43] flouthoc commented on #210
@baude I'll just try few bits more then file an issue cause i don't have flat `netlink rust` reproducer so it might be hard for `netlink` maintainers to read all netavark code and find if we are doing something wrong there. WDYT ?

[2022-02-15 16:10] Luap99 commented on #210
@flouthoc I tried it with an internal network without any firewall rules and it sill happens. So it is not related to firewall AFAICT

[2022-02-15 16:23] flouthoc commented on #210
@Luap99 ackd. I'll try few more bits and update here as of now for me it does not resets all connections but few of them. @Luap99 What is happening in your reproducer ?

[2022-02-16 09:55] flouthoc commented on #210
Just to add some info this only happens with `root`.

For me reset also happens with `CNI` but less frequently @Luap99 could you try the same experiment with latest podman and `CNI` on root and see if something similar happens for you or not ?

My reproducer is the same command which @giuseppe shared and i a monitoring with `tcpdump 'tcp[tcpflags] & tcp-rst != 0'`

Not sure about this at all: It c

[2022-02-16 14:20] Luap99 commented on #210
OK, I think I know what is causing this. I am able to reproduce this on the first container start with CNI.
The main difference between netavark and cni is that we remove the bridge on teardown when no other containers are using it.

So when we run with cni the bridge is not removed and therefore does not need to be created again for each container start.
Since netavark will create/remove the brid

[2022-02-16 14:28] mheon commented on #210
It seems like it would be better to adopt CNI behavior, given this. Unfortunately, we'd need to shove the interface removal somewhere else for when we actually delete the network - maybe Podman, similar to how we handle deleting CNI networks?

[2022-02-16 14:31] Luap99 commented on #210
I don't think a tcp reset is a big problem IMO. This only happens if you restart a single container. As long as at least one container still runs we do not have this problem.

[2022-02-19 15:30] mskarbek opened #230 "Handling firewalld reload"
Create a container with `--publish=80:80`. You will get a set of chains/rules in `nft` `ip nat` and `ip filter` tables which are, obviously, separate from firewalld tables. Issue `firewall-cmd --reload` and you have lost all communication with that container. Stopping container results with:
[code]
Is there a way to track `nft` chains and fix them during container lifetime that can be incorporated

[2022-02-19 15:42] mskarbek commented on #204
Nope, there is no solution. That's what you get when you drop global dependency resolution. Each crate can depend on any version they want locally, and `cargo` will download and build that for them. If you want single nix you would have to either approach each crate maintainer and ask them to update their dependencies or, as @Luap99 mentioned, patch them yourself in a fork.

[2022-02-19 16:17] baude commented on #230
I know this is something we discussed when putting netavark together.  It is on our list of things to look at for certain. @mheon PTAL

[2022-02-19 17:12] mskarbek commented on #230
Also, it is interesting why `netavark` chose to use iptables not firewalld backed when firewalld is running? With firewalld backend, `netavark` could rely on https://github.com/firewalld/firewalld/issues/483 to restore all missing rules.

[2022-02-19 17:54] Luap99 commented on #230
@mskarbek Please see https://github.com/containers/podman/issues/5431
Also the firewalld backend will not solve this problem since firewalld flushes its own rules as well unless you make them permanent which has bigger problem with leaking stuff after reboot etc...

[2022-02-19 18:21] mskarbek commented on #230
@Luap99 that is why I pointed at d-bus signal. `netavark` needs to have its own state and compare it with current firewall state after handling reload signal from firewalld.

[2022-02-20 03:48] mheon commented on #230
Listener is definitely the answer, but the question then becomes: where do we put it?

We can't put it in Netavark; Netavark exits immediately after the network is configured.

We can't put it in Aardvark; Aardvark spins down when no containers are using it, and some networks (notably the default one!) don't use it.

Conmon seems like it could be logical, but we'd only want one Conmon process to f

[2022-02-20 09:39] dvzrv opened #231 "PGP signatures for packaging"
Hi! I'm about to package netavark for Arch Linux. This is more of a general inquiry about how this project will handle PGP signatures for tags and/or release artifacts.

As a short background info: We are able to use PGP signed source tarballs or PGP signed tags for building a given upstream. This is all assuming that a chain of trust between releases is maintained by upstreams though.

Currently

[2022-02-20 10:29] arctic-alpaca opened #232 "Iptables error binding to ipv6 with bridge network"
Hi,

I'm trying to publish a port from/of an ipv6 address to a container in a bridge network using rootless podman from `rhcontainerbot/podman4` on Fedora 35. This results in an Iptables error: ``Error: netavark: unable to append rule '-j NETAVARK-HOSTPORT-SETMARK -s 10.88.0.0/16 -p tcp --dport 80 -d my_ipv6' to table 'nat': code: 2, msg: iptables v1.8.7 (nf_tables): host/network `my_ipv6' not fou

[2022-02-20 11:29] Luap99 commented on #230
@mheon Well we could also call `podman network reload containerID` from conmon. In this case every conmon would need to listen on dbus for the reload event. Thinking about it, using conmon is better then other options because it already has the correct `--root` and `--runroot` arguments so it could also handle containers in non standard locations.

[2022-02-20 16:39] arctic-alpaca commented on #232
I looked into this a bit (with very limited knowledge of netavark and iptables). Could the issue be, that [`setup_port_forward`](https://github.com/containers/netavark/blob/f979c26bc9fa421d7722e039fc6d50d55d7a444b/src/firewall/iptables.rs#L106) only checks whether the container ip is v4 or v6 but doesn't check whether the host ip version matches?

[2022-02-20 17:49] baude commented on #231
would Matt Heon's signature be better? He is the one that signs podman.

[2022-02-20 17:52] baude commented on #230
This is because @mheon was using their new dbus interface and it was/is not complete yet, so we had to follow what was done in the past with CNI -- to use both.  The intent is to back out the iptables stuff for firewalld as soon as the dbus code is complete ... AND ...into distributions.

[2022-02-20 18:04] dvzrv commented on #231
It's not so much about the "who" but more about the "how" in this case.
The chain of trust is [TOFU](https://en.wikipedia.org/wiki/Trust_on_first_use) by design at the beginning (and you are the first one to sign tags in this repository and make releases). Going forward it is more important to have an intact chain of trust between releases (i.e. the releases are always signed either by you or by s

[2022-02-20 18:10] baude commented on #231
@dvzrv understood.  let us rap about this as a team this week.

[2022-02-20 18:15] mheon commented on #230
Yeah - firewalld is disabled until the v1.1.0 upstream release, due to a few missing features that have been added, but have not yet made it into a release. Once that happens we can reenable the firewalld backend conditional on firewalld v1.1.0 or higher being available.

[2022-02-20 23:53] lelemka0 opened #234 "The default route is not added on macvlan"
Hi,

I am using podman 4.0.0-dev with netavark on fedora 36.
When I start the container with macvlan network, the default route is not added automatically.
**Output in container:**
[code]
When I add `--cap-add NET_ADMIN` and then I can manually add the default route in container, then network works fine.
[code]

**Commands I'm using are:**
1. `podman network create -d macvlan -o parent=service --s

[2022-02-21 01:48] mheon commented on #230
@Luap99 Thinking about that more - downside is that we get 1 `podman network reload` per running container, so we could potentially burst out 100 separate `podman` processes when firewalld upgrades - could be a real strain on system resources.

[2022-02-21 07:15] flouthoc commented on #234
Hi @lelemka0, Thanks for creating the issue. I think above PR should close the issue.

[2022-02-21 12:55] #232 closed

[2022-02-21 15:13] #234 closed

[2022-02-21 19:59] mheon commented on #231
Getting everyone on the team authorized to do a release together and doing mutual signatures on our keys seems like a perfectly doable thing that should resolve this, so long as we can figure out how to actually distribute the keys once this is done; I remember that we had a second developer do a Podman release to ensure I wasn't the only one capable of doing so, and that was rather a mess as I wa

[2022-02-25 21:03] chramb opened #247 "Building from the releases tab fails due to lack of repository information ( vergen fails to find repository))"
## Summary
Hello, I'd like to report an issue that comes up when attempting to build netavark from source shared in the releases page.

Because the source code in the archives don't contain git files, vergen fails to find the repository-related information and halts the build.

## Steps to reproduce
1. download one of the *Source code* archives from the [Releases Page](https://github.com/container

[2022-02-27 06:20] hswong3i commented on #247
Thank you very much which solve my problem:
* https://github.com/alvistack/containers-netavark/commit/3051512d2cb89e3b89f0f002131fd9a20cbf20bc
* https://build.opensuse.org/package/show/home:alvistack/containers-netavark-1.0.1

Result:
[code]

[2022-02-27 07:43] hswong3i opened #248 "[Debian 10] Failed to Compile with `edition = 2021`"
When packaging with Debian 10 .deb (https://github.com/alvistack/containers-netavark/commit/cb6a4437b78ae963d79d62f5d468eeb5c8064983 and https://build.opensuse.org/package/show/home:alvistack/containers-netavark-1.0.1), following error message happened:
[code]

This is because `iptables = 0.5.0` now required `edition = 2021` (see https://github.com/yaa110/rust-iptables/blob/0.5.0/Cargo.toml#L6) bu

[2022-02-27 07:45] hswong3i opened #249 "[openSUSE Leap 15.3] Failed to Compile with `edition = 2021`"
Similar as #248, when packaging with openSUSE Leap 15.3 .rpm (https://github.com/alvistack/containers-netavark/commit/cb6a4437b78ae963d79d62f5d468eeb5c8064983 and https://build.opensuse.org/package/show/home:alvistack/containers-netavark-1.0.1), following error message happened:
[code]

[2022-02-27 07:49] hswong3i opened #250 "[Debian 11] Failed to Compile with `cargo-features = ["resolver"]`"
When packaging with Debian 11 .deb (https://github.com/alvistack/containers-netavark/commit/cb6a4437b78ae963d79d62f5d468eeb5c8064983 and https://build.opensuse.org/package/show/home:alvistack/containers-netavark-1.0.1), following error message happened:
[code]

This is most likely related to `zvariant/Cargo.toml` require `resolver = "2"` (see https://gitlab.freedesktop.org/dbus/zbus/-/blob/main/Ca

[2022-02-28 18:41] mheon commented on #250
We can't easily downgrade this dependency because of a recent major version bump in zbus/zvariant (there were breaking API changes due to a move to the use of async), so I don't think we can easily resolve this on our end.

[2022-02-28 18:48] mheon commented on #247
@baude @Luap99 PTAL

[2022-03-01 15:31] cgwalters commented on #247
I wouldn't say there's a single standard on this.  This is a highly complex topic.  In most other projects I've seen, there's a best effort made to use git checkout if available, but otherwise fall back to nothing, i.e. don't just fail the build if not from git.

In practice, most systems that build from tarballs are dpkg/rpm, which today have their own concept of versions and source metadata.  IO

[2022-03-01 15:44] flouthoc commented on #247
I think the inbuilt vendor dir in `git` tree is the easiest way out there for this problem, but perhaps if we can ship a vendor dir in external tar and cargo does not objects on it then it would also work. But need to confirm if we could ship vendor outside of this `git` repo so other distros could use it.

[2022-03-01 15:50] Luap99 commented on #247
IMO the only thing we have to do, is to make it not fail and show an empty commit string in the version output.
This is how it works in podman so we should match that.

[2022-03-01 16:10] chramb commented on #247
@baude unfortunatelly I don't know much more than simple Hello World in rust.

I came across this issue while packaging Netavark for Gentoo. So far I solved it by disabling the `git` feature and manually setting the `VERGEN_GIT_SHA` variable which produces the same outcome as building inside the git repo.

I think the most correct solution would be to somehow make `git` feature not fail or dynamic

[2022-03-08 13:54] Luap99 commented on #247
PR https://github.com/containers/netavark/pull/254 should fix this, I will make the same change for aardvark.

[2022-03-09 12:41] siretart commented on #250
It seems to me that you're asking netavark to compile with older versions of rust. @baude reached out to me about this issue and I'm happy to take a look.

to reproduce this with different versions of debian, I'm using this `Containerfile`:

[code]

Note that I actually have 3 variations of this file that use different base images in line1:

* debian:10 (buster)
* debian:11 (bullseye)
* debian:sid

[2022-03-15 20:04] Luap99 opened #260 "use optimistic_dad instead of disabling DAD"
Thanks to sbrivio_ on IRC for the pointer

[2022-03-16 08:39] flouthoc commented on #260
@Luap99 Could you please add more context to this issue. Like why is there is need to enable `DAD`.

Few cons an

* This might be still slow if something is wrong in our setup.
* [Not a big issue] but older kernels do not support `optimistic_dad`
* Do we need to turn on router advertisement as well ?

[2022-03-17 11:18] Luap99 commented on #260
RHEL8 will support this, it was added some time in 3.X

[2022-03-17 11:28] rhatdan commented on #260
Great.

[2022-03-21 20:29] Jackbaude commented on #152
Can I take this one?

[2022-03-21 20:33] baude commented on #152
@Jackbaude we will send people running into the hills!

[2022-03-26 12:23] nivekuil opened #270 "ipv6 connectivity -- managing NDP entries"

[2022-03-28 11:23] Luap99 commented on #270
Moved to netavark since we would need to implement it here.
I assume you want to use this with rootful podman because rootless would be another story.

I think netavark does only ipv6 nat at the moment and I think you want global routeable addresses?
Why would need to manually manage ndp entries? Shouldn't the kernel handle this automatically?

[2022-03-28 13:20] mheon commented on #270
I think we do support globally-routable addresses, but I don't know if we documented the "how" of it particularly well, and we definitely aren't testing them in CI on account of not having any to work with.

[2022-03-28 13:22] Luap99 commented on #270
I do not see any conditionals in the ipv6 iptables code so i think we always NAT them.

[2022-03-28 13:24] mheon commented on #270
Well, damn. I know we talked about it, evidently it wasn't implemented.

Should definitely get on this, as it's a regression from CNI's v6 support; @baude PTAL

[2022-03-28 13:29] Luap99 commented on #270
I don't think cni supports this either

[2022-03-28 13:35] mheon commented on #270
We've definitely been instructing people to do this in CNI land for several years. I have to imagine at least some of them were successful?

[2022-03-28 15:15] nivekuil commented on #270
Vanishingly few hosting providers will give you route the entire ipv6 subnet they assign you. Usually there needs to be
something on your host responding to the upstream NDP solicitations for each pod. Linux can proxy ndp natively but does not automatically know how to respond
to these and needs to be configured manually (see https://github.com/DanielAdolfsson/ndppd/blob/0.2.5/README,
https://your

[2022-04-01 00:02] cdoern commented on #154
@mheon would this just require adding a rule to not allow external connections:

https://github.com/containers/netavark/blob/6eab33518566c9f024c81308046ea8d9714c4044/src/firewall/varktables/types.rs#L207-L217

Just trying to get a feel for if I am looking in the right spot

[2022-04-01 13:35] mheon commented on #154
No, that's a standard rule to allow existing connections always - we shouldn't mess with that.

I'd probably do this as an outbound traffic rule - anything from a Podman network to another podman network should be dropped. For N networks, you'll probably need N sets of N-1 rules (each network has to have a set of rules banning traffic beginning in its subnet from reaching every other network's sub

[2022-04-01 13:51] Luap99 commented on #154
This is what is done for cni https://github.com/AkihiroSuda/cni-isolation#how-it-works

[2022-04-04 16:48] fansari opened #274 "cannot start second container: iptables: Chain already exists"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug
**Description**

I can start only one root container.

When I create or start the second root container I get this error message:

[code]

I use nftables. When I restart nftables and all this extra stuff which podman puts into the firewall is gone I can create the second container.

My current /etc/containers/

[2022-04-04 17:04] fansari commented on #274
The reason why having an additional ULA might be useful is because the ::/64 network you get from your ISP might change.

[debug.log](https://github.com/containers/netavark/files/8411729/debug.log)

[2022-04-05 16:46] fansari commented on #274
I have tested again today. Always same result. The only way I can start both containers is by either stopping or restarting nftables.

[2022-04-07 16:06] fansari commented on #274
I have put this in my systemd service files which start the containers:

[code]
I consider this as a workaround. This faulty behaviour should be fixed.

Also it should be possible to disable firewall changes from podman.

As a basis I have this in my FORWARD and POSTROUTING.

podman works fine with this so I don't need any automatic changes.

[code]

[2022-04-17 19:57] nivekuil commented on #270
This can be done with an OCI hook.
[code]

[2022-04-25 14:56] Luap99 commented on #274
I cannot reproduce this. Do you have ports forwarded for the containers?

Also can you check the netavark version `/usr/libexec/podman/netavark version` and  the iptables version `iptables --version`.

[2022-04-26 15:57] fansari commented on #274
I don't use port forwarding but my "inet filter" table (nftables) has a forward chain:

The root containers are using port 53 (bind) and 587 (postfix).

[code]

Also I use masquerading in my "ip nat" table (postrouting chain):

[code]
Here the version output:

[code]

[2022-04-26 16:12] Luap99 commented on #274
I am confused, so you are adding extra rules and then it starts failing? I think it is expected that we can conflict if there are conflicting rules already present.

[2022-04-26 16:16] fansari commented on #274
I don't understand what you mean. My nftables is configured exactly before netavark was introduced.

There would not be any conflict if netavark would not try to add rules.

[2022-04-26 16:26] Luap99 commented on #274
If you manually configure conflicting nftables rules I see no reason why netavark has to work in this case.

If you do not manually set the rules then I do not understand what is needed to reproduce this isuues. Because for me your config from the issue works fine.

[2022-05-07 00:16] briankoco commented on #152
Expressing my support for this feature. Macvlan is ideal for containerized deployments that you want to have access to a DHCP server on your physical network

[2022-05-16 13:36] ryester19 opened #297 "invalid opcode on KVM guest"
When trying to use the netavark networking stack with Podman on Arch Linux, I am getting a "invalid opcode" error when starting any container.

This is a KVM guest managed by a VPS provider, so if this is a CPU instruction passthrough issue, it's probably unlikely I'll be able to get them to change the CPU mode so that more instructions are exposed. I don't see anywhere in the documentation what i

[2022-05-16 14:25] Luap99 commented on #297
What distro is this? Can you build from source and see if this works?

[2022-05-16 14:51] ryester19 commented on #297
Sorry, I edited in that info late. I'm using Arch Linux.

I modified their official PKGBUILD to compile the latest commit, and still the same error. For reference, here are the build options I used:
[code]

[2022-05-16 17:06] baude commented on #297
Do you get a core file ?

[2022-05-16 17:21] ryester19 commented on #297
Yes, core dumps are created. I have attached them for you. There's multiple ones after each attempt, but that's probably because of how quadlet sets up the systemd service to retry

[coredump.tar.gz](https://github.com/containers/netavark/files/8702087/coredump.tar.gz)

[2022-05-16 17:34] baude commented on #297
ah! when you start this without quadlet does it work ok?

[2022-05-16 17:49] ryester19 commented on #297
I still get a fatal 'trap invalid opcode' error in the journal, but this time podman prints out "Error: netavark: : EOF"

Command used:
[code]

[2022-05-16 17:58] baude commented on #297
contents of `podman network inspect services`

[2022-05-16 18:01] ryester19 commented on #297
[code]
Also went ahead and tried the default podman bridge by removing --net. No difference

[2022-05-23 09:29] nivekuil opened #301 "--ipam-driver=none and static ip assignments"
It looks like static IP assignments are completely ignored on a network with --ipam-driver=none, e.g. `podman run --net=podman4:ip=10.0.0.1 docker.io/bash ip a` has no IP assigned to that device. Is this intended? It would be helpful for this to work because the other options require a `--subnet` which causes podman to complain about an ip range conflict, when I want to manage the subnetting exter

[2022-05-23 09:50] Luap99 commented on #301
Please provide more context, I am not sure what you are doing?

IPAM none means no ips. You network has no subnets in this case so it is impossible to assign ips. Just the ip from the run command cannot work since we need a subnet and gateway as well.

[2022-05-23 10:17] Luap99 commented on #301
Well this is just wrong. If you omit the subnet you get a /32 subnet which is pointless since you cannot route any traffic with that. Thus your container will act like --net=none.

Networking always will require a subnet. This is just how it is designed. The gateway is required if you need to route traffic to external networks.

This should not be removed. You will run into issues when you assigne

[2022-05-23 12:37] Luap99 commented on #301
Maybe I am mising something about ipv6 but I do not understand what the purpose of a /128 ip address is? This address is not routable. I think in your case everything goes over the link local address via NDP. So why assign the ip in the first place?

Regardless of this ipam none means no ips so we should not use them. I however think it should error out instead of ignoring it.

Have you looked int

[2022-05-23 13:39] nivekuil commented on #301
Well a device on the link has to know which Neighbor Solicitations to respond (send out Neighbor Advertisements) to, and assigning the IP to a host interface seems to set up the host automatically to respond to those. We also need an ip to feed to `ip -6 neigh add proxy` so the host can proxy NDP on behalf of the pods. I don't think any real traffic goes over the link-local addresses, those are ju

[2022-05-23 13:48] nivekuil commented on #301
I'll close this issue because it seems I have misunderstood the intent of --ipam-driver=none. What I want might best be done by creating one network per pod.

[2022-05-23 13:48] #301 closed

[2022-05-23 14:01] nivekuil commented on #301
ah yeah it does work. I think macvlan will probably not work well in shared hosting environments but if ipvlan l2 is ever added I will definitely try it.

[2022-05-24 23:51] nivekuil opened #302 "static macvlan IP is duplicated after container restart"
repro:
[code]
In a second window run:
[code]
[code]
looks ok, now ctrl+c the nginx and start it again. `sudo nsenter -t $(pgrep nginx | tail -n1) -p -n ip -6 a` now shows:
[code]
Notice the `dadfailed` on eth0. Does this need to be released somehow?

[2022-05-25 15:45] mheon commented on #302
Please provide the full output of `podman info`.

[2022-05-25 15:46] mheon commented on #302
(I wonder if we shouldn't make that part of the template if the reproducer includes Podman, having a full `podman info` really helps reproducing).

[2022-05-25 15:59] nivekuil commented on #302
[code]

[2022-05-28 04:29] hswong3i commented on #249
Soled by manually dirty package Rust as https://build.opensuse.org/package/show/home:alvistack/rust-lang-rust-1.61.0 for my supported OS.

[2022-05-28 04:29] #249 closed

[2022-05-28 04:29] hswong3i commented on #248
Soled by manually dirty package Rust as https://build.opensuse.org/package/show/home:alvistack/rust-lang-rust-1.61.0 for my supported OS.

[2022-05-28 04:29] #248 closed

[2022-05-28 04:30] hswong3i commented on #250
Soled by manually dirty package Rust as https://build.opensuse.org/package/show/home:alvistack/rust-lang-rust-1.61.0 for my supported OS.

[2022-05-28 04:30] #250 closed

[2022-06-03 15:23] nivekuil commented on #302
Repro'd on another machine, podman info:
[code]

[2022-06-06 20:47] alexanderadam commented on #156
Not related to its architecture but I'm not even sure how I can switch in my Podman installations to netavark?
Is this documented anywhere?

[2022-06-07 15:10] baude commented on #156
the absolute easiest way, assuming netavark and aardvark-dens are installed, is to run `podman syystem reset`.  HOWEVER, this will delete all of your images and containers from storage.

[2022-06-09 15:42] MartinX3 commented on #156
Be aware that you get an error if you reset podman and the $HOME/.config/cni folder exists.

You need to manually remove it to switch podman to netavark.

[2022-06-10 12:43] cathay4t commented on #302
I have reproduced this problem locally, hopefully I could find a fix to it.

[2022-06-11 10:18] alvarlagerlof commented on #274
I have this issue as well. Always one container. The fix mentined by @fansari does not seem to work on Fedora CoreOS because nftables does not seem to be active.

[2022-06-11 12:12] fansari commented on #274
I use podman and nftables on Fedora 36 Sliverblue and Fedora 36 CoreOS. On both system I run nftables.

When I build a new container I always have to stop nftables right in front - otherwise I will get this error because of conflicting rule.

Same thing happens when I start my containers.

As I workaround I have written some python script which adds lines for ExecStartPre and ExecStartPost into th

[2022-06-12 12:39] alexanderadam commented on #156
Is this something that was introduced with Podman 4?
Because that field seem to be missing in Ubuntu 22.04 LTS (Linux `5.15.0-37`)

<details>
  <summary>result of "podman info" (click to expand</summary>

[code]

</details>

<details>
  <summary>and the config file contains these network related entries (Click to expand)</summary>

[code]

</details>

[2022-06-12 17:24] mheon commented on #156
Yes, this is only available in Podman 4.0 and up. Netavark in general is only supported from Podman 4.0 and up, so earlier versions don't need the field; they're always on CNI.

[2022-06-12 19:04] alexanderadam commented on #156
Ah okay. This explains everything.
I missed this bit. It doesn't seem to be documented in [the Readme](https://github.com/containers/netavark#netavark-a-container-network-stack).

In that case I'll have to wait until I found a way to install Podman 4.0 on Ubuntu 22.04.
Thank you for the clarification!

[2022-06-14 09:59] flouthoc commented on #302
Since @cathay4t is interested in working on this issue as per his availability so assigning this issue to him.

[2022-06-22 02:39] xinato opened #311 "Netavark bridge cannot duplicate CNI layer 2 bridge capability"
With CNI, I was able to create a layer 2 network bridge device using networkmanager with my hardware ethernet card as a bound device. The address of the bridge is my hosts IP on the network. Containers using CNI bridging are able to bind to the bridge and obtain static addresses on the external network. It's been a while, but I think the containers could also get addresses from the dhcp server on

[2022-06-22 09:04] Luap99 commented on #311
Can you provide more context. How does your cni config looks like?

But this sounds like a macvlan setup, the subnet/gateway is required because we do not have dhcp support yet. You could also use ipam none driver to not assign any ip addresses and assign them manually then.

Bridge for use means an separate interface that is managed by us and not shared with the host. This is also how it worked w

[2022-06-22 10:07] xinato commented on #311
Thank you very much for looking at my issue! My setup is not a MAC VLAN setup. I am using type: bridge and referencing my br0 that is setup by networkmanager.

Using CNI, my ifconfig for the eth0 and  br0 as setup by nmcli are:

 ifconfig
br0: flags=4163<UP,BROADCAST,RUNNING,MULTICAST>  mtu 1500
        inet 172.16.66.10  netmask 255.255.255.0  broadcast 172.16.66.255
        inet6 2601:401:180:eb

[2022-06-22 10:25] Luap99 commented on #311
The bridge driver expects that it has full control over the interface, it will remove the interface once all container on the network are stopped. So you definitely should not use it with your own interfaces.

I think macvlan sounds more like what you want. With macvlan you just set the host interface where you want the container interface to connect to. There is no need for the extra veth interfa

[2022-06-28 15:35] edsantiago opened #345 "Rawhide: podman run: netavark: failed to delete if podman0: Received a netlink error message Operation not supported"
Another rawhide failure. _Seems_ to be unrelated to https://github.com/containers/container-selinux/issues/182 or containers/storage#1270.
[code]
Only happened on the first run. I haven't been able to reproduce it. So, filing as placeholder only.

podman-4.1.1-2.fc37.x86_64 on 5.19.0-0.rc2.21.fc37.x86_64

[2022-06-28 23:01] siretart opened #318 "Please publish to crates.io"
Any chance to have netavark published on crates.io?

[2022-06-29 06:23] flouthoc commented on #318
Hi @siretart , Thanks for creating the issue.

If i remember correctly we had a discussion on this one issue is that `netavark` as of now is always used as a dependency of `podman` where `podman` installs netavark on a specific path where other podman executable dependencies are stored and netavark in itself is not very useful without podman so shipping it as individual CLI might be not useful for

[2022-06-29 13:54] baude commented on #318
@flouthoc lets support Debian here ... what do folks want?  Should we cut a new release and then also package on crates.io so everything lines up?

[2022-06-29 13:57] Luap99 commented on #318
@baude lets wait with the next release, we have to get https://github.com/little-dude/netlink/pull/274 in. Netavark is currently broken on kernel 5.19.

[2022-06-29 14:26] baude commented on #318
@Luap99 that begs the question, should we publish it for the last release so @siretart can still package?

[2022-06-29 14:28] Luap99 commented on #318
sure, just push the latest version. I assume we want to do the same for aardvark-dns then?

[2022-06-29 14:56] flouthoc commented on #318
Yeah we can publish both netavark and aardvark-dns. I'll check this.

[2022-07-04 07:53] flouthoc commented on #318
Published two versions (dirty) for `1.0.3` and `1.0.4-dev` to try out https://crates.io/crates/netavark and https://crates.io/crates/netavark release from `1.0.4` should be clean. @siretart Could you please try above.

[2022-07-04 14:10] #154 closed

[2022-07-05 10:18] flouthoc commented on #318
@siretart Feel free to close the issue if this works for you :)

[2022-07-06 11:32] duck-rh opened #330 "Regression running inner container"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

We run podman inside podman with inner systemd support. There's a few configuration tweaks but it used to work up to podman 3.4.7 and stopped working with 4.1.x (for running the inner container, see environment info below for the outer one).

**Steps to reproduce the issue:**

1. as non-root:

[2022-07-08 13:23] Luap99 opened #331 "isolate nor working correctly"
While testing cni isolate option against the netavark one I found some issues.

- IPv6 rules are not created, therefore ipv6 traffic is not isolated at all.
- Isolation blocks all external communication which is wrong, this is what internal is used for. If we want to follow what docker/cni does we should only block communication between two isolated networks.

This should be fixed before we make a

[2022-07-08 14:25] mheon commented on #331
The second one sounds like something we should be testing in CI

[2022-07-08 14:27] Luap99 commented on #331
We are testing but the main problem is that nobody from us seems to understand what isolate should do exactly.
I already have local changes to match CNI/docker rules.

[2022-07-08 18:58] #331 closed

[2022-07-09 11:30] xinato commented on #311
Thank you for suggesting the macvlan approach. In this application it does seem to work. I notice a difference between macvlan and the approach I was using. When I connected using a CNI bridge to the OS level bridge, I was able to communicate between the host and the container through the network. With the macvlan setup under Netavark, this connection is "unreachable." Descriptions of macvlan I ha

[2022-07-09 14:50] xinato commented on #311
Besides the previous issue, I ran into an issue where the container with a macvlan does not take the mac address from the run command. Also, the network includes working IPV6 even though I did not specify it (a feature, not a bug).

To replicate:

:podman run --rm -it --network 172.16.66.0-macvlan --mac-address=a2:8c:40:71:ad:19 --ip=172.16.66.66 --name test localhost:5000/myfedora-minimal bash

C

[2022-07-10 11:17] siretart commented on #318
I will follow-up. Right now, for some reason debcargo claims to not find them, but a `cargo search` does. Go figure.

I've managed to package `netavark` with non-vendored sources at https://salsa.debian.org/debian/netavark. I'm still waiting for some dependencies to get through initial ftp archive admin review, but I.m getting really close (finally).

[2022-07-11 11:32] flouthoc commented on #318
@siretart Thanks for the update :)

[2022-07-11 14:55] #330 closed

[2022-07-12 18:59] nivekuil commented on #302
any luck so far?

[2022-07-13 14:17] mheon commented on #339
Transferring to Netavark

[2022-07-13 14:18] mheon commented on #340
Transferring to Netavark

[2022-07-15 14:04] cgwalters opened #347 "Use `cargo vendor-filterer`"
We're using this in the coreos/ org, see https://github.com/coreos/fedora-coreos-tracker/issues/1240

[2022-07-15 14:07] Luap99 commented on #347
Looks great, definitely better than our `rm -fr vendor/winapi*gnu*/lib/*.a;` workaournd.

[2022-07-19 06:56] #345 closed

[2022-07-31 10:32] dvzrv commented on #231
Providing a separate repository with relevant PGP public keys (and their signatures) could work.
However, on a company level this should really be solved by a Red Hat wide Web Key Directory (WKD) setup, so that noone has to rely on flaky keyservers (which may or may not support key types and or signatures in use) anymore :)

[2022-07-31 23:16] ooraini opened #362 "`route_localnet` and podman in podman"
I did investigate running podman-in-podman and podman in Kubernetes a while [back](https://github.com/containers/podman/discussions/14394).

The last error I faced was CNI trying to write to `/proc/sys/net/ipv4/conf/{}/route_localnet` which is read-only. Note that when I disabled port mappings, things still worked as expected. I'm not sure what was the role of the portmap plugin.

It's also possib

[2022-08-01 07:48] Luap99 commented on #362
Hi, the sysctl is needed to allow port forwarding via 127.0.0.1, so when you have ports we enable it.
Since https://github.com/containers/netavark/pull/333 we check for the sysctl value before writing it. If you set `default.route_localnet` to 1 it should work with netavark v1.1.0.

[2022-08-02 13:44] nivekuil commented on #302
@cathay4t are you blocked on troubleshooting or implementation? How can I help? As it stands netavark cannot use assigned IPs with macvlan at all in practice.

[2022-08-02 15:42] salevdns opened #365 "Static mac address doesn't work with macvlan network"
/kind bug

**Description**

When specifying a static mac address for a macvlan interface in a container, the specified mac address does not get assigned in the container. Instead, a random mac address is assigned.

I suspect this to be somewhat related to #302.

**Steps to reproduce the issue:**

1. Create macvlan network
[code]

2. Run container with macvlan and mac options
[code]

**Describe the

[2022-08-02 15:51] Luap99 commented on #365
A fix is already in https://github.com/containers/netavark/pull/360

[2022-08-02 16:20] salevdns commented on #365
Oh okay, awesome! I wasn't able to catch that.
Thank you very much.

[2022-08-02 16:20] #365 closed

[2022-08-06 19:46] Jackbaude commented on #152
I have started a [crate](https://github.com/Jackbaude/netavark-dhcp-proxy) for the proxy daemon.

[2022-08-09 17:35] mheon opened #377 "Potentially avoid round-robin routing among default gateways"
Presently, when a container is connected to multiple networks, Netavark adds each network's default route to the container's routing table. The kernel then automatically round-robins between these routes, as they are identical aside from their destinations.

However, this behavior may not be desirable for all users; having a single exit point for all traffic leaving the container could be desirabl

[2022-08-09 17:36] mheon commented on #377
(To be clear, this would probably be optional; the kernel's default round-robin algorithm seems quite sane)

[2022-08-20 16:21] xiaofan-linux opened #439 "ipv6 network setup on a system with ipv6 disabled should return useful error message"
##### Error in creating container
[code]
[code]

[code]

[2022-08-22 12:25] edsantiago opened #391 "netavark crashes, kills podman, everything hangs"
gating-test system hung:
[code]
That last command seems to have crashed. The system is still hung in bats tests. The container got Created but never ran:
[code]
Tracking down the chain of strace/lsof leads to a bunch of hung netavark processes:
[code]
Only relevant log is in journalctl but it is not helpful to me. Hope it's helpful to you.
[code]

[2022-08-22 12:35] flouthoc commented on #391
I think this Is this same as https://bugzilla.redhat.com/show_bug.cgi?id=2116221

[2022-08-22 12:48] flouthoc commented on #391
I think netavark and aardvark version were not same, if netavark is `v1.1.0` then aardvark must be also `v.1.1.0`. @edsantiago Could you confirm that versions were not same for the reported issue.

[2022-08-22 12:51] edsantiago commented on #391
It seems the version mismatch is the problem. Since this is being tracked in BZ and Jira, I'll close this issue. Thanks @flouthoc .

[2022-08-22 12:51] #391 closed

[2022-08-22 16:56] Loader009 commented on #377
Not entirely sure if this belongs here.
If I use podman network to create an **internal** network, that network also has a default route.
I have several issues with containers randomly being able to connect outside - I guess this would be the cause.

[2022-08-26 07:54] #362 closed

[2022-09-01 10:45] vimusov opened #400 "[Feature Request] An option to disable a firewall setup."
Hi!
In the CNI there is an option `ipMasq` [^1] which allows you to disable a firewall setup. As I see there is no equal option in the Netavark. So I'd like to propose to implement it. I think it'd be useful for many users.
Thanks for your attention!
[^1]: https://www.cni.dev/plugins/current/main/bridge/

[2022-09-02 07:29] ryanleung96 commented on #274
Hi all,

I have encountered the same problem on RHEL 8.6. Any solutions for that?

[2022-09-05 00:14] nivekuil commented on #302
Is this fixed now?

[2022-09-05 12:09] Luap99 commented on #400
Duplicate of #339

[2022-09-05 14:19] vimusov commented on #400
Oh, sorry for that. I didn't notice this issue.

[2022-09-05 14:19] #400 closed

[2022-09-13 15:25] ryester19 commented on #297
I'm going to close this. I no longer have access to the VM in question

[2022-09-13 15:25] #297 closed

[2022-09-14 20:55] mheon commented on #230
We can discuss this further at the F2F - basically, we need to locate a dbus listener somewhere in our code, but Netavark doesn't have a daemon to host one, so we either put it in Aardvark, or potentially Conmon-rs.

[2022-09-16 01:33] cathay4t commented on #302
Sorry for the long delay. Investigating.

[2022-09-16 03:55] cathay4t commented on #302
The root cause of this problem is left over of network namespace holding the macvlan after container stopped. Next `podman start` will create new network namespace and new macvlan interface in it. With this `macvlan` mode, both left over and new `eth0` can communicate with each other, then the DAD on the same IPv6 address will fail in the new `eth0`.

This issue is fixed in latest main branch( e46

[2022-09-16 08:57] Luap99 commented on #302
Do you know what is keeping the netns open? Podman should remove the bind mount  and close the open fd on container stop and netavark cannot keep anything open since it is short lived and will exit.

[2022-09-16 11:58] cathay4t commented on #302
I got this error in netavark 1.1:

ERRO[0000] Unable to clean up network for container 15d1ec7d1f5287953327cd85b348ac7c6f5bc47a802b22d1dcf2f942536d4490: "error tearing down network namespace configuration for container 15d1ec7d1f5287953327cd85b348ac7c6f5bc47a802b22d1dcf2f942536d4490: netavark (exit code 1): IO error: Unable to resolve bridge interface : Received a netlink error message No such dev

[2022-09-16 13:29] Luap99 commented on #302
Podman should still remove the netns even if netavark or cni cleanup fail IMO, so this would be a podman bug. cc @mheon

For the netavark error message you linked I do not see how the tokio update would fix that but if it does we should make a new release.

[2022-09-16 13:32] Luap99 commented on #302
Looking at the error I think this was fixed with my netavark restructure in https://github.com/containers/netavark/pull/360

[2022-09-16 14:03] mheon commented on #302
It looks like the Podman cleanup logic actually refuses to unmount the NS if tearing down network setup failed - ref: https://github.com/containers/podman/blob/main/libpod/networking_linux.go#L699-L711

[2022-09-22 12:55] astenmco commented on #377
This is definitly a problem for me.
I have what I believe to be a very simple case :
- I have multiple containers on a "backend" network.
  This network is a bridge **internal**.
- I have a reverse proxy both on the default network (in order to be able to communicate with the outside world) and the "backend" network (to communicate with the other containers).
But I found out that my reverse proxy

[2022-09-22 13:54] astenmco opened #415 "Internal networks should not have a gateway"
When creating an internal network, netavark gives it a gateway.
Worse : when connecting a container to this network, the gateway is set as "default gateway".

The default behavior when creating an internal network should be not to assign it a gateway.
At least, we should have the possibility to explicitly not set a gateway.

[code]

I have podman version 4.1.1 with netavark 2:1.0.1-35

[2022-09-22 13:57] astenmco commented on #377
You're right @Luap99 : just opened the issue #415.

[2022-09-29 15:50] cevich opened #426 "netavark: failed to delete if podman4: Received a netlink error message Operation not supported (os error 95)"
While running recent CI VM F36 images through the podman integration tests,[ noticed a number of them are failing with this (and similar) errors (annotated logs).](https://api.cirrus-ci.com/v1/artifact/task/5520856037195776/html/int-podman-fedora-36-root-host.log.html#t--podman-network-disconnect--1).  This is *NOT* happening on previous F36 CI VM images, suggesting a package update has caused a r

[2022-09-29 15:51] Luap99 commented on #426
yes you have to update to 1.1

[2022-09-29 15:52] Luap99 commented on #426
the error happens since kernel 5.19

[2022-09-29 15:52] cevich commented on #426
Does Lokesh do that or is there a button a simpleton like me can press?

[2022-09-29 15:53] cevich commented on #426
Crap so this is broken for everybody using Netavark on F36?  Ugh :vomiting_face:

[2022-09-29 15:56] cevich commented on #426
Thanks for the quick attention @Luap99

@lsm5 Given the F37 timetable, I think I need to build new CI VM images that side-load this update in F36.  Please LMK as soon as a download URL is available somewhere.  TIA :smiley:

[2022-09-29 16:06] cevich commented on #426
Oh, even better: I found a way to bypass the CI-problem in F36 images completely.

@lsm5 urgency--

Details: We're "suppose" to be testing CNI in Fedora N-1, but the number "35" was hard-coded in the build script.  I'm fixing that condition now, so CNI will be tested instead of Netavark.  That doesn't help users though, only our CI system.

[2022-09-30 15:00] lsm5 commented on #426
it should land in stable in 24 hrs or less.

[2022-09-30 17:11] cevich commented on #426
Thanks @lsm5

[2022-09-30 18:39] Luap99 commented on #302
I created https://github.com/containers/podman/pull/16016 for the podman cleanup issue
Either way I believe this specific issue is fixed in the latest netavark version so I will close it.

[2022-09-30 18:39] #302 closed

[2022-10-06 12:11] Luap99 opened #433 "aarch64 flake: iptables - port forwarding ipv4 - sctp"
[code]

I have seen this twice now, just filling this as issue so we can keep track.

https://cirrus-ci.com/task/5590240982204416
https://cirrus-ci.com/task/6384006940852224

[2022-10-10 20:09] TomSweeneyRedHat opened #440 "README.md on the main page lists v1.0.0 as the latest release"
I think I'd just remove it from the README.md, but if you want to keep it, it probably ought to be updated.

[2022-10-11 06:45] flouthoc commented on #440
I think github tags are already listed, following section just adds a maintenance overhead and other projects in github.com/containers also don't list their latest version in README.md so I think we should just remove it. https://github.com/containers/netavark/pull/442

[2022-10-11 07:58] nivekuil commented on #270
Yes, rootful. Vanishingly few hosting providers will actually route the entire ipv6 subnet they give you, so usually there needs to be something on your host responding to the upstream NDP solicitations for each pod. Linux does not automatically know how to respond to these and needs to be configured manually (see https://github.com/DanielAdolfsson/ndppd/blob/0.2.5/README, https://yoursunny.com/t/

[2022-10-11 10:06] b-m-f opened #443 "WireGuard interface support"
This is an idea for integrating WireGuard interfaces into containers.
The use case I have at the moment is App monitoring and hosting multiple services with different intranet hostnames on the same VM/Bare Metal machine without a reverse proxy. But I am sure that this could be a feature many other people can appreciate for private network setups.

# Process

The process would probably look like fo

[2022-10-11 12:00] #440 closed

[2022-10-11 16:05] Luap99 commented on #443
I have thought about this recently. I personally would like to add wireguard support in the not so far future.

My thoughts:

* Create the wireguard interface and the host and them move it into the namespace, take a look at https://www.wireguard.com/netns/ If I understand it correctly with that we can only use the wiregurad interface in the container and do not have to worry about other interfaces

[2022-10-11 16:17] Luap99 commented on #415
I take a look sorry for the delay.

[2022-10-11 16:24] Luap99 commented on #415
Looks like our regression test is broken: https://github.com/containers/netavark/blob/0b04857d9b3eea88029a1f03f418a2384913f679/test/100-bridge-iptables.bats#L25-L26
I can confirm that the default route is created but the test still passes.

[2022-10-11 18:15] #415 closed

[2022-10-12 09:37] b-m-f commented on #443
This will make setup extremely simple

Yup, this also helps when a hostname is used for the Endpoint as the initial request to initiate the connection resolves it to an IP via the hosts DNS resolver settings.

Where do you think this `.conf` file should live? Just pass any path to podman and then have it passed through to this project where it could be read?

How could we deal with sth like `-p 80

[2022-10-12 11:45] lukasmrtvy opened #446 "feat: Predictable bridge interface name - feature parity with docker"
One does not have an option to create podman network with custom interface name. Thanks
https://docs.docker.com/engine/reference/commandline/network_create/#bridge-driver-options

For example
`podman create network bridge --opt com.docker.network.bridge.name=myinterfacename`

[2022-10-12 12:10] Luap99 commented on #443
You can work on it, any help is welcome. I already have enough things to do anyways.
But we should first agree on the design.

I would also like the opinion of the other members @flouthoc @mheon @baude or anybody else who might be interested it this.

Yes I think something like `--network <name>:config_path=/some/path` for podman then pass it down the stack. This would obviously mean that we need

[2022-10-12 12:12] Luap99 commented on #446
Duplicate of https://github.com/containers/podman/issues/15830. this needs to be implemented in podman and/or containers/common not netavark

[2022-10-12 13:56] baude commented on #443
either start a design doc (@Luap99 knows where that is) or start a discussion that mimics it ?

[2022-10-12 21:22] nolange commented on #274
Have the same issue on Debian Bookworm.

Its weird, as some custom rules have the sideeffect of empty chains remaining. Log is attached.
Debian iptables is a wrapper over the nftables tools, which have some sublte differences.

The log shows the commands and nftables dumps between them.

[log.txt](https://github.com/containers/netavark/files/9768757/log.txt)

[2022-10-12 21:38] nolange commented on #274
Well, that might be the issue:

[code]

[2022-10-13 14:33] mheon commented on #443
I have no real comments except RE: port forwarding - I feel like we should explicitly disable it with VPN'd networks to ensure all traffic goes through the VPN?

[2022-10-13 16:43] fansari commented on #339
Is there any progress on this?

[2022-10-13 16:54] Luap99 commented on #339
no, contributions welcome, see https://github.com/containers/netavark/issues/339#issuecomment-1183282798 for a way to implement this

[2022-10-14 08:40] b-m-f commented on #443
Sounds like a good idea.
Is this a Redhat internal thing or can I get access too @Luap99 ?

[2022-10-27 21:31] #347 closed

[2022-10-27 21:44] #439 closed

[2022-10-28 11:19] chrishecker opened #473 "launching aardvark-dns with systemd user on centos7 fails due to session dbus perms?"
I assume centos7 is not a supported platform but please bear with me for a second, I've got it _almost_ working well, I'm super close, and there's just one weird thing I could use some advice/help on...

Backstory:  I gave up on docker years ago after I decided it was too much of a security risk, but when I checked back in on containers recently I saw podman was thing and was natively rootless and

[2022-10-28 11:32] Luap99 commented on #473
Yes we require systemd user session when systemd is booted and system-run exists.
I have no idea how to debug this and do not have time for it, since as you said we do not support centos7.
If you already patch most things I recommend to remove this check so it will only start the process normally. The problem is that systemd likes to kill all process that were spawned in your session when you clos

[2022-10-28 11:48] chrishecker commented on #473
Oh yeah, I wasn't expecting you guys to debug this or anything, just was hoping for something pointing in the right direction.  I _think_ I've gotten all the centos7 stuff out of the way, and it's just down to this dbus netns uid thing...I assume my first recipe above is just supposed to work with dns enabled in there?

[2022-10-28 11:56] chrishecker commented on #473
Oh, and the other question is if you launch a namespace, is the user dbus (usually `/run/user/1000/bus`) supposed to be mapped in and work?  Like even ignoring aardvark, if you do this what happens?
[code]
I get a failed to connect due to the uid thing with dbus.  What happens on a working system that launches aardvark?

[2022-10-28 12:00] Luap99 commented on #473
On my fedora 36 laptop:
[code]
Also `busctl --user` works.

[2022-10-28 12:10] chrishecker commented on #473
Wait, busctl --user works in the unshare namespace but dbus-test-tool doesn't?  That's odd if so...

[2022-10-28 12:17] Luap99 commented on #473
No `dbus-test-tool` also works, it can successfully connected to dbus, see the `org.freedesktop.DBus.Error.NoReply` response, I get the same without the namespace.

[2022-10-28 12:33] chrishecker commented on #473
Huh, when I run dbus-test-tool echo I get the name back, like:
[code]

[2022-10-29 01:33] chrishecker commented on #473
Okay, I am testing this on rocky 9...it works, but there's a couple interesting things.  First, user systemd isn't enabled by default, podman warns and you have to `loginctl enable-linger user`, which starts up the session systemd and creates the dbus sockets.  However, `systemctl --user status` errors with `Failed to connect to bus: No medium found` which is kind of weird?  Oh, wait, if I manuall

[2022-10-29 08:18] chrishecker commented on #473
Okay, I think I have finally figured out what's going on here.  This isn't exactly a dbus issue, I mean it's a dbus issue, but it's not an issue with dbus-daemon or dbus-broker, because none of the podman stuff is calling the normal user dbus, and in fact I think normal dbus actually _is_ busted going from inside a namespace to outside a namespace (on rocky 9 it doesn't work, and your error above

[2022-10-29 10:52] chrishecker commented on #473
OMG FINALLY.  I _knew_ there was no deep unresolvable mystery here, there had to be somebody doing the wrong thing.  After a bunch of debugging of systemd and systemd-run, I found that on the rocky 9 version the uid simply isn't sent from the systemd-run client (because it comes on the SO_PEERCRED anyway and so it's just a waste and messes up namespaces), and so I found the changelist where they f

[2022-11-17 02:50] nitzmahone opened #491 "iptables rules flushed too eagerly from `NETAVARK_FORWARD` chain, breaking container networking"
Somewhere between netavark 1.0.2 and 1.2.0, netavark started flushing rules from the `NETAVARK_FORWARD` chain every time a container exits (instead of only for the last container on a given network). Starting another container on that network  reinstates the rules as expected, but as soon as any container using that network exits, they're flushed again, trashing intra-container connectivity on tha

[2022-11-17 14:26] Luap99 commented on #491
I take a look

[2022-11-17 16:41] #491 closed

[2022-11-22 10:02] SecT0uch commented on #230
Using: `NETAVARK_FW="firewalld" podman run <image>` I get `netavark: Error retrieving dbus connection for requested firewall backend: DBus error: I/O error: No such file or directory (os error 2)`.

Is netavark currently supposed to work with firewalld ?

I see [this comment in the code](https://github.com/containers/netavark/blob/65afcb3303cc9e33c84fc2b5691545de0015ff9a/src/firewall/mod.rs#L64) w

[2022-11-22 10:34] Luap99 commented on #230
@SecT0uch Please create a new issue or discussion, this is not related to the issue.

[2022-11-22 11:53] SecT0uch opened #498 "firewalld - Error retrieving dbus connection"
I recently migrated from iptables to firewalld + nftables.

Using: `NETAVARK_FW="firewalld" podman-compose up -d` I get `netavark: Error retrieving dbus connection for requested firewall backend: DBus error: I/O error: No such file or directory (os error 2)`.

Is netavark currently supposed to work with firewalld ?

I see [this comment in the code](https://github.com/containers/netavark/blob/65afc

[2022-11-22 15:11] Luap99 commented on #498
Well rootless cannot use firewalld, rootless podman uses a completely different namespace where firewalld will not exists.

[2022-11-22 15:41] mheon commented on #498
Error isn't specific to firewalld, it's more an unexpected error trying to grab a dbus session to determine if firewalld even exists. I would expect that to work with rootless.

[2022-11-22 15:59] Luap99 commented on #498
No, the dbus socket will likely not exists in the rootless namespace, we need to remount a bunch of stuff to /run to make iptables and CNI work, /run/dbus is not one of them because it is not required so the socket does not exists.
And this is fine since the rootless users has no permission to talk to firewalld anyway.

[2022-11-22 16:16] mheon commented on #498
I believe we're ignoring most errors for the purpose of this, on the assumption that dbus may not be available. Which makes this one even more curious...

Any chance the NETAVARK_FW environment variable is defined?

[2022-11-22 16:19] Luap99 commented on #498
yes see original report, that is the point of the issue

[2022-11-22 16:24] mheon commented on #498
Oh. Yeah, this is 100% expected then; force a firewall backend that requires dbus in a rootless environment without dbus, and errors will result.

I think we can close given this.

[2022-11-22 16:24] #498 closed

[2022-11-22 17:14] SecT0uch commented on #498
So to resume:
* rootless podman + firewald: Impossible
* rootless podman + iptables: Possible
* rootless podman + nftables: Possible

Is that correct ?

[2022-11-22 17:19] Luap99 commented on #498
yes

[2022-11-25 10:55] fpoirotte opened #500 "Add ipvlan support"
/kind feature

Please consider adding ipvlan support to netavark to bring it on par with CNI.

Regards,
François

[2022-11-25 10:59] Luap99 commented on #500
We definitely have the plan to add this, just didn't have the time so far and it doesn't seem like a huge priority.

Do you want to work on it?

[2022-11-25 11:09] fpoirotte commented on #500
Glad to hear there's a plan to support this.
Unfortunately I don't know much about Rust so I don't think I'll be able to help with the implementation.